<div class="row">
  <div class="large-6 large-centered columns">
    <div class="signup-panel">
      <p class="welcome"> Sign In</p>
      <form>
        <div class="row collapse">
          <div class="small-12  columns">

            <label ng-class="{'error' : loginView.error && loginView.error.email}">
              <input type="text" ng-model="loginView.email" placeholder="email">
            </label>
            <small ng-show="loginView.error && loginView.error.email" ng-class="{'error' : loginView.error && loginView.error.email}">{{loginView.error.email.message}}</small </div>
          </div>
          <div class="row collapse">
            <div class="small-12 columns ">
              <label ng-class="{'error' : loginView.error && loginView.error.password}">
                <input type="password" ng-model="loginView.password" placeholder="password">
              </label>
                <small ng-show="loginView.error && loginView.error.email" ng-class="{'error' : loginView.error && loginView.error.password}">{{loginView.error.password.message}}</small </div>
            </div>
          </div>
      </form>
      <a ng-click="loginView.login()" class="button ">Log in </a>
      <p>Don't have an account? <a href="/signup">sign up here &raquo</a></p>
      </div>
    </div>
  </div>
